body {
    height: 100%;
    display: flex;
    margin: 0;
}

.sidebar {
    background-color: rgb(23, 214, 214);
    width: 20%;
    height: 100%;
    position: absolute;
}

#Logo {
    width: 50%;
    height: auto;
}

#container {
    position: relative;
    margin-left: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Informacion {
    display: grid;
    grid-template-columns: 25% 25% 1fr;
    gap: 80px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.InfoED {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.InfoService {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn {
    display: flex;
    justify-content: space-around;
}
#Canc{
    width: 80%;
    margin-left: 20px;
}
#ActionInfo {
    visibility: hidden;
    position: absolute;
    top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.botonera {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#CreateService {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    margin-left: 20px;
}

#DeleteService {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    margin-left: 20px;
}

#EditService {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    margin-left: 20px;

}
#ServiceAction {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Servicios{
    visibility: hidden;
    width: 40%;
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ComboService {
    position: absolute;
    top: 20px;
    visibility: hidden;
}

.ComboGalery {
    visibility: hidden;
    position: absolute;
    top: 20px;
}

#GalleryAction {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#galleryInf{
    visibility: hidden;
    width: 40%;
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#CreateIMG{
     grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    margin-left: 20px;
}
#DeleteIMG{
     grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    margin-left: 20px;
}
#EditIMG{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 80%;
    margin-left: 20px;
}


  .adverAgregar {
    
    width: 300px; 
    background-color: #e6e4e4; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
  border-radius: 3%;
    border: 2px solid black;
    z-index: 99999;
    
  }
  
  .contImg {
    margin-bottom: 10px;
  }
  
  .adverImg {
    max-width: 30%;
    height: auto;
    
  }
  
  button {
    margin: 0 10px;
  }
  