.Logo {
    width: 30%;
    height: auto;
}


.sidebar {
    background-color: aqua;
    height: 100vh;
    width: 15%;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    gap: 1%;
}

.btnpantalla {
    display: flex;
    flex-direction: row;
    gap: 15%;
}